.cart-sidebar,
.item-sidebar {
  position: relative;
  height: calc(100vh - 54px);

  .header {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: #888 0.4px solid;
    h4 {
      font-size: 20px;
      font-weight: 600;
    }
    h5 {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .item-list {
    height: calc(100% - 48px - 100px);
    overflow-y: scroll;
    overflow-x: hidden;

    .product-item {
      justify-content: space-between;
      height: 90px !important;
      width: 100%;
      display: flex;
      margin-bottom: 10px;
      padding: 5px;

      .product-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;

        img {
          &:hover {
            cursor: pointer;
          }
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 75%;
          object-fit: contain;
          display: block;
        }
      }
      .product-info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 70%;
        padding: 0;
        p {
          font-size: 12px;
          margin: 0;
          .name {
            &:hover {
              cursor: pointer;
            }
            font-weight: 400;
            color: #333;
          }
          .price {
            font-weight: 600;
            color: #000;
          }
        }
        .actions {
          display: flex;
          justify-content: flex-start;
          button {
          }
          .update-qty-wrapper {
            margin-left: 50px;
            display: flex;
            text-align: center;
            // padding: 2px 6px;
            width: 75px;
            font-size: 10px;

            .dec-btn {
              background-color: #fff;
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
              border: 1px #000 solid;
              color: #000;
              font-weight: bolder;
            }
            input.qty-value {
              width: 25px !important;
              text-align: center;
              font-weight: bolder;
              border-top: 1px #000 solid;
              border-bottom: 1px #000 solid;
              border-left: none;
              border-right: none;
            }
            .inc-btn {
              border: none;
              background-color: #fff;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              color: #000;
              border: 1px #000 solid;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
  .footer {
    border-top: #888 0.4px solid;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    .subtotal {
      display: flex;
      justify-content: flex-end;
      h5 {
        font-size: 16px;
      }
      b {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .checkout {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      button {
        width: 90%;
      }
    }
  }
}
