body {
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide scrollbar for IE, Edge and Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  overflow-y: hidden;
  .main-wrapper {
    width: 100vw;
    height: calc(100vh - 54px);
    display: flex;
    .main-page-content {
      background-color: #fff;
      overflow-y: scroll;
      height: 100%;
      width: calc(100vw - 340px);
      position: absolute;
      transition: 0.5s ease-in;
      left: 0;
      top: 54px;
      z-index: 100;
      border-right: 0.1px #333 solid;
      &.full {
        width: 100vw;
      }
      &.enter,
      &.exit-done {
        width: calc(100vw - 340px);
      }
      &.enter-done,
      &.exit {
        width: 100vw;
      }
    }

    .sidebar-content {
      z-index: 50;
      height: 100%;
      width: 340px;
      transition: all 0.5s ease-in-out;
      position: absolute;
      right: 0;
      top: 54px;
    }
  }
  .modal-page-wrapper {
    position: absolute;
    z-index: 275;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    &.enter {
      opacity: 0;
      display: none;
      transform: scale(0.9);
    }
    &.enter-done {
      opacity: 1;
      transform: translateX(0);
      display: block;
      transition: opacity 300ms, transform 300ms;
    }
    &.exit {
      opacity: 1;
      display: block;
    }
    &.exit-done {
      transform: scale(0.9);
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
      display: none;
    }
  }

  .store-locator-modal {
    i.close-icon {
      position: absolute;
      left: 10px;
      top: 10px;
      font-size: 18px;
      transition: 300ms ease;
      &:hover {
        cursor: pointer;
        color: #555;
        transition: 300ms ease;
      }
    }
    width: 600px;
    height: 450px;
    position: relative;
    z-index: 200;
    border: #889 0.4px solid;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-box-shadow: 0px 13px 23px -10px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 13px 23px -10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .modal-title-wrapper {
      h4 {
        text-align: center;
      }
    }
    .search-input-wrapper {
      margin-top: 30px;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      input {
        width: 90%;
        border: none;
        border-bottom: #333 2px solid;
        padding: 10px;
        padding-bottom: 5px;
        &:active,
        &:focus {
          outline: 0px !important;
          -webkit-appearance: none;
          box-shadow: none !important;
        }
      }
      .load-icon {
        display: flex;
        justify-content: center;
        width: 10%;
      }
    }
    .search-results-wrapper {
      display: flex;
      flex-direction: column;
      height: 400px;
      overflow-y: scroll;
      margin-top: 10px;
      width: 100%;
      .store-result {
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
          border-bottom: #889 0.4px solid;
        }
        h6 {
          font-size: 16px;
          font-weight: 600;
          margin: 0px;
        }
        small {
          font-size: 12px;
        }
        button {
          border: none;
          background-color: transparent;
        }
      }
    }
    &.enter,
    &.exit-done {
    }
    &.enter-done,
    &.exit {
    }
  }
}
